@media all and (min-width: 1200px) {      

    .homepage {
        padding: 40px 60px;

        .week-component { 
            max-width: fit-content;
            padding: 10px 40px 40px 40px;
        }
    }

    .databoard-graphics {
        text-align: center;
        display: flex;
        .VictoryContainer {
            width: 700px !important;
            margin: 30px auto;
            padding-left: 35px;
        }

        .tooltip-databoard {
            
            top: 20px;
            left: 30%;
        }
    }

}