@media all and (min-width: 850px) {      
    body {
        font-size: 14px;
    }
    
    nav.header {
        span {
            font-size: 15px;
        }
    }

    .homepage {
        padding: 40px 10px;
        
        &-flex {
            flex-direction: row;
    
            .week-component {
                width: 45%;
            }
    
            &-left-side {
                width: 55%;
                margin-left: 20px;
                .databoard-component {
                    margin-top: 0px;
                }
                .recipes-overview-component {
                    margin-top: 30px;
                }
            }
        }
        
    }

    .week-component {

        .dates-current-week {
            margin: 30px auto;
        }
    
        .weekly-food-plan {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    .profile-page {
        max-width: 700px;
        margin: 50px auto;
    }

    .modal {
        left: 25%;
        top: 25%;
        width: 50%;
    }

    .recipes-list-container {
        width: 40%;
    }
    
    .recipes-selected {
        width: 60%;
    }

    .recipe-card {
        margin: 0 20px 20px 0;
    }

}