@media all and (min-width: 850px) {      
    body {
        font-size: 14px;
    }
    
    .only-desktop {
        display: flex;
    }
    
    nav.header {
        margin: 20px;
        span {
            font-size: 15px;
        }
    }

    .homepage {
        
        &-flex {
            flex-direction: row;
    
            .goals-component {
                width: 45%;
            }
    
            &-left-side {
                width: 55%;
                margin-left: 20px;

                .databoard-component {
                    margin-top: 0px;
                }

                .logs-component {
                    padding: 20px 30px;
                }
            }
        }
    }

    .goals-component {

        .header-form-goals {
            width: 100%;
        }

        .wrapper-goal-row {
            .icon-delete {
                width: 20px;
                margin-left: 6px;
            }
            .form-update-goal {
                .group-inputs-goal {
                    padding: 6px 0px;
                }
            }
        }
    }

    .profile-page {
        max-width: 700px;
        margin: 50px auto;
    }

    .modal {
        left: 25%;
        top: 25%;
        width: 50%;
    }

    .recipes-list-container {
        width: 40%;
    }
    
    .recipes-selected {
        width: 60%;
    }

    .recipe-card {
        margin: 0 20px 20px 0;
    }

    #footerMenu {
        display: none;
    }

}