//Color palette ---> https://paletton.com/#uid=50q0u0k8yw01KSU4HHVdarfizmg

$main-color: #4C536A;
$color-main-bg: #EEF4FF;

$color-button-fill: #EEF4FF;
$color-button-border: #AEC8FF;


$color-gradient-dark: #FEDCC6;
$color-gradient-light: #F8EBE2;

$color-green-dark: #79663D;
$color-green-medium: #CCB88D;
$color-green-light: #ECDDBD;

$color-orange-dark: #FFC7A0;
$color-orange-light: #FFF1E6;

$color-pink-dark: #AB4851;
$color-pink-medium: #F6B5BB;
$color-pink-light: #FDEFF0;

$color-yellow-medium: #FFE7BB;
$color-yellow-light: #FFF2DA;




