//Color palette ---> https://paletton.com/#uid=50q0u0k8yw01KSU4HHVdarfizmg

$main-font-family: 'Montserrat Alternates', sans-serif;

$main-color: #4C536A;
$color-main-bg: #EEF4FF;

$color-gradient-bg-top: #D3E5FF;
$color-gradient-bg-bottom: #FFE1E9;

$color-button-fill: #EEF4FF;
$color-button-border: #AEC8FF;

$color-pink: #FEE2EA;
$color-pink-light: #FFF3F7;
$color-pink-dark: #F1AABE;

$color-lila: #E7E3F5;
$color-lila-light: #F8F7FF;
$color-lila-dark: #ADA1D8;

$color-blue: #D9E4FB;
$color-blue-light: #EEF4FF;
$color-blue-dark: #A0B9EC;

// For info
$color-info-light: #E8FFF0;
$color-info-dark: #6AB082;

// For error
$color-error-light: #ffcccb;
$color-error-dark: brown;

$color-footer: #D9E4FB;



